{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'form.verify_contact_info'|trans }}</h1>

    {{ form_start(form) }}
        <h2>{{ 'form.verify_personal_info'|trans }}</h2>
        {{ form_row(form.firstName, { label: 'form.firstName'|trans }) }}
        {{ form_row(form.lastName, { label: 'form.lastName'|trans }) }}
        {{ form_row(form.gender, { label: 'form.gender'|trans }) }}
        {{ form_row(form.academicTitle, { label: 'form.academicTitle'|trans }) }}

        <h2>{{ 'form.verify_contact_info'|trans }}</h2>
        {{ form_row(form.email, { label: 'form.email'|trans }) }}
        {{ form_row(form.phone, { label: 'form.phone'|trans }) }}
        {{ form_row(form.website, { label: 'form.website'|trans }) }}

        <h2>{{ 'form.verify_address'|trans }}</h2>
        {{ form_row(form.street, { label: 'form.street'|trans }) }}
        {{ form_row(form.zipCode, { label: 'form.zipCode'|trans }) }}
        {{ form_row(form.city, { label: 'form.city'|trans }) }}
        {{ form_row(form.country, { label: 'form.country'|trans }) }}

        <h2>{{ 'form.verify_company_info'|trans }}</h2>
        {{ form_row(form.companyName, { label: 'form.companyName'|trans }) }}
        {{ form_row(form.specification, { label: 'form.specification'|trans }) }}
        {{ form_row(form.parent, { label: 'form.parent'|trans }) }}

        <h2>{{ 'form.verify_more_info'|trans }}</h2>
        {{ form_row(form.language, { label: 'form.language'|trans }) }}
        {{ form_row(form.description, { label: 'form.description'|trans }) }}

        <button class="btn">{{ 'form.save'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
